*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html{
    height: 100%;
    width: 100%;

    body{
        --color1: #084B83;
        --color2: #BBE6E4;

        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow: none;

        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100px;
            background: var(--color1);
            color: var(--color2);
            font-size: 16px;
            h1, .buttons-pages{
                padding: 16px;
            }
            .buttons-pages{
                display: flex;
                align-items: center;
                height: 100%;
                .button{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 8px;
                    color: var(--color2);
                    gap: 8px;
                    i{
                        transform: scale(1.4);
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                    &:not(:hover){
                        text-decoration: none;
                    }
                }
            }
        }

        main{
            width: 100%;
            height: calc(100% - 50px);
            flex-grow: 1;
            display: flex;
            justify-content: space-around;
            align-items: center;
            align-self: stretch;
            /* background-color: burlywood; */
            .recipes_container{
                &.hidden{
                    display: none;
                }
                /* background-color: orange; */
                width: calc(100% - 100px);
                height: calc(100% - 100px);
                display: flex;
                /* flex-direction: row; */
                flex-wrap: wrap;
                justify-content: space-between;
                text-align: center;
                /* margin: 50px 50px 40px 50px; */
                .recipe_name{
                    width: 200px;
                    height: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: var(--color2);
                    color: var(--color1);
                    padding: 20px;
                    /* margin: 20px; */
                    border-radius: 20px;
                }
            }
            .recipe_details{
                &.hidden{
                    display: none;
                }
                /* background-color: blue; */
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                /* align-self: stretch; */
                width: 50%;
                height: 100%;
                text-align: center;
                margin: 20px;
                .recipe_title{
                    /* color: white; */
                    text-decoration: wavy;
                    /* font-weight: 1200; */
                }
                .nb_people{
                    text-decoration: double;
                }
                .tags{
                    position: absolute;
                    left: calc(100% - 100px);
                }
                .ingredients_list{
                    display: flex;
                    flex-direction: column;
                    /* background-color: grey; */
                    padding: 8px;
                }
            }
        }
    }
}